<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsmith.sysutils.resacl.dao.DomainMapper">
    <resultMap id="Domain" type="cn.itsmith.sysutils.resacl.entities.Domain">
        <result property="domId" column="domid"/>
        <result property="domDes" column="domdes"/>
        <result property="domToken" column="domtoken"/>
        <result property="status" column="status"/>
        <result property="domName" column="domame"/>
    </resultMap>

    <sql id="Base_Column_List">
        domid, domdes, domtoken, status
    </sql>

    <!--根据id查询域信息-->
    <select id="select"  resultMap="Domain">
        select
        <include refid="Base_Column_List"/>
        from t_domain
        WHERE domid=#{domId, jdbcType=INTEGER} and domtoken=#{domToken, jdbcType=VARCHAR}
    </select>
    <!--///liu-->

    <select id="varify" resultType="Integer">
    SELECT COUNT(*) FROM t_domain
    WHERE t_domain.domid=#{domId} AND t_domain.domtoken=#{domToken}
  </select>

    <!--    wang-->
    <select id="selectByPrimaryKey" resultMap="Domain" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from t_domain
        where domid = #{domId,jdbcType=INTEGER}
        and status = #{1,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_domain
    where domid = #{domId,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="cn.itsmith.sysutils.resacl.entities.Domain" >
    insert into t_domain (domdes, domtoken,status,domname
      )
    values #{domDes,jdbcType=VARCHAR}, #{domToken,jdbcType=CHAR}, #{status,jdbcType=INTEGER}, #{domName,jdbcType=CHAR}
      )
  </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.itsmith.sysutils.resacl.entities.Domain" >
        update t_domain
        <set >
            <if test="domDes != null" >
                domdes = #{domDes,jdbcType=VARCHAR},
            </if>
            <if test="domToken != null" >
                domtoken = #{domToken,jdbcType=CHAR},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="domName != null" >
                domname = #{domName,jdbcType=INTEGER},
            </if>
        </set>
        where domid = #{domId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.itsmith.sysutils.resacl.entities.Domain" >
    update t_domain
    set domdes = #{domDes,jdbcType=VARCHAR},
      domtoken = #{domToken,jdbcType=CHAR}
    where domid = #{domId,jdbcType=INTEGER}
  </update>
</mapper>
