<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsmith.sysutils.resacl.dao.DomUserOperationMapper">
    <resultMap id="DomUserOperation" type="cn.itsmith.sysutils.resacl.entities.DomUserOperation">
        <result property="domId" column="domid"/>
        <result property="resTypeId" column="restypeid"/>
        <result property="resId" column="resid"/>
        <result property="ownerId" column="ownerid"/>
        <result property="opId" column="opid"/>
        <result property="userOwnerId" column="userownerid"/>
        <result property="types" column="types"/>
        <result property="status" column="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        domid, restypeid, resid, ownerid, opid, userownerid, types, status
    </sql>

    <!--根据资源实例标识查询-->
    <select id="selectByResId1"  resultMap="DomUserOperation" >
        select
        <include refid="Base_Column_List"/>
        from t_dom_user_operation
        WHERE domid=#{domId, jdbcType=INTEGER} and ownerid=#{ownerId, jdbcType=INTEGER} and resid=#{resId, jdbcType=INTEGER} and restypeid=#{resTypeId, jdbcType=INTEGER}
    </select>

    <select id="selectByOpId"  resultMap="DomUserOperation">
        select
        <include refid="Base_Column_List"/>
        from t_dom_user_operation
        where domid=#{domId, jdbcType=INTEGER} and restypeid=#{resTypeId, jdbcType=INTEGER} and opid=#{opId, jdbcType=INTEGER}
    </select>
<!--    根据资源实例id删除资源授权-->
    <delete id="deleteByResId" >
        delete
        from t_dom_user_operation
        where domid=#{domId, jdbcType=INTEGER} and ownerid=#{ownerId, jdbcType=INTEGER} and resid=#{resId, jdbcType=INTEGER} and restypeid=#{resTypeId, jdbcType=INTEGER}
    </delete>

    <update id="updateStatus" parameterType="cn.itsmith.sysutils.resacl.entities.DomUserOperation">
        update t_dom_user_operation
        <set>
            status = #{status, jdbcType=INTEGER}
        </set>
        where domid=#{domId} and ownerid=#{ownerId} and resid=#{resId} and restypeid=#{resTypeId}
    </update>
<!--//liu-->
    <!--单纯查资源授权,2个参数-->
    <select id="selectByResId" resultType="cn.itsmith.sysutils.resacl.entities.DomUserOperation">
        SELECT * from t_dom_user_operation
        where domid = #{domId}
        and resid = #{resId}
    </select>

    <select id="selectUsersOrOwners" resultType="cn.itsmith.sysutils.resacl.entities.DomUserOperation">
        SELECT * from t_dom_user_operation
        where domid = #{domId}
        and restypeid = #{resTypeId}
        and resid = #{resId}
        and ownerid = #{ownerId}
        and opid = #{opId}
        AND types = #{types}
        and status=1
    </select>
    <!--selectOps单纯用户拥有的ops-->
    <select id="selectOps" resultType="cn.itsmith.sysutils.resacl.entities.DomUserOperation">
        SELECT * from t_dom_user_operation
        where domid = #{domId}
        and restypeid = #{resTypeId}
        and resid = #{resId}
        and ownerid = #{ownerId}
        and userownerid = #{userOwnerId}
        AND Types = 0
    </select>



    <!--checkOpernationByDomUserOperation检查本条记录-->
    <select id="checkOpernationByDomUserOperation" resultType="cn.itsmith.sysutils.resacl.entities.DomUserOperation">
        SELECT * from t_dom_user_operation
        where domid = #{domId}
        and restypeid = #{resTypeId}
        and resid = #{resId}
        and ownerid = #{ownerId}
        and opid = #{opId}
        and userownerid = #{userOwnerId}
        AND types = #{types}
        and status=1
    </select>
    <select id="selectOps" resultType="cn.itsmith.sysutils.resacl.entities.DomUserOperation">
        SELECT * from t_dom_user_operation
        where domid = #{domId}
        and restypeid = #{resTypeId}
        and resid = #{resId}
        and ownerid = #{ownerId}
        and userownerid = #{userOwnerId}
        AND Types = 0
    </select>
    <!--防止重复插入，所有参数7个-->
    <select id="selectByWhole" resultType="cn.itsmith.sysutils.resacl.entities.DomUserOperation">
        select * from t_dom_user_operation
        where domid = #{domId}
        and restypeid = #{resTypeId}
        and resid = #{resId}
        and ownerid = #{ownerId}
        AND opid = #{opId}
        and userownerid = #{userOwnerId}
        AND Types = #{types}
        and status=1
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
        insert into t_dom_user_operation(domid,restypeid,resid,ownerid,opid,userownerid,Types,status)
        values (#{domId},#{resTypeId},#{resId},#{ownerId}, #{opId},#{userOwnerId},#{types},1);
    </insert>
    <!--7个全部参数-->
    <!--<delete id="delete">-->
        <!--DELETE FROM t_dom_user_operation-->
        <!--where domid = #{domId}-->
        <!--and ownerid = #{ownerId}-->
        <!--and restypeid = #{resTypeId}-->
        <!--and resid = #{resId}-->
        <!--and userownerid = #{userOwnerId}-->
        <!--and Types = #{types}-->
        <!--AND opid = #{opId}-->
    <!--</delete>-->
    <update id="delete">
        update t_dom_user_operation SET status=0
        where domid = #{domId}
        and ownerid = #{ownerId}
        and restypeid = #{resTypeId}
        and resid = #{resId}
        and userownerid = #{userOwnerId}
        and Types = #{types}
        AND opid = #{opId}
  </update>

    <select id="selectByuId" resultType="cn.itsmith.sysutils.resacl.entities.DomUserOperation">
        select * from t_dom_user_operation
        where domid = #{domId}
        and ownerid = #{ownerId}
        and userownerid = #{userId}
        AND types = 0
    </select>
    <update id="deleteByuId">
        update t_dom_user_operation SET status=0
        where domid = #{domId}
        and ownerid = #{ownerId}
        and userownerid = #{userId}
        AND types = 0
    </update>
</mapper>
